<div class="form-wrapper">
	<ul class="steps-nav">
		<li class="step-btn step-btn-active step-btn-current">1</li>
		<li class="step-btn">2</li>
		<li class="step-btn">3</li>
		<li class="step-btn">4</li>
	</ul>

	{{> step-1}}
	{{> step-2}}
	{{> step-3}}
	{{> step-4}}
	
	<div class="main-nav">
		<a class="back-btn" href="#">Предыдущий</a>
		<a class="next-btn" href="#">Следующий</a>
		<a class="end-btn" href="#">Завершить</a>
	</div>
</div>
{{> final-screen}}