<div class="final-screen-wrapper">
	<div class="final-screen">
		<div class="selected-data-wrapper">
			<p class="name-selected"></p>
			<p class="email-selected"></p>
			<p class="home-selected"></p>
			<p class="social-selected">Facebook: <span class="social-value"></span></p>
			<p class="social-selected">Вконтакте: <span class="social-value"></span></p>
			<p class="social-selected">Twitter: <span class="social-value"></span></p>
			<p class="social-selected">Одноклассники: <span class="social-value"></span></p>
		</div>
		<img class="img-selected" src="">
	</div>
	<a class="retry" href="#">Пройти заново</a>
</div>