<div class="step">
	<p class="step-heading">2. Выберите страну и город</p>
	<p class="country-error error">Вы не выбрали страну</p>
	<div class="select-wrapper">
		<select class="form-country" name="country" required>
			<option value="" disabled selected hidden>Страна</option>
		</select>
	</div>
	<p class="city-error error">Вы не выбрали город</p>
	<div class="select-wrapper">
		<select class="form-city" name="city" required>
			<option value="" disabled selected hidden>Город</option>
		</select>
	</div>
</div>