<div class="step">
	<p class="step-heading">3. Отметьте социальные сети</p>
	<p class="social-error error">Некорректное значение</p>
	<div class="social-wrapper">
		<input class="hidden-box" id="facebook-box" type="checkbox">
		<label class="checkbox-label" for="facebook-box" data-num="0">Facebook</label>
		<input class="social-input" type="text" name="facebook" placeholder="Ваша страница в Facebook">
	</div>
	<p class="social-error error">Некорректное значение</p>
	<div class="social-wrapper">
		<input class="hidden-box" id="vk-box" type="checkbox">
		<label class="checkbox-label" for="vk-box" data-num="1">Вконтакте</label>
		<input class="social-input" type="text" name="vk" placeholder="Ваша страница в Вконтакте">
	</div>
	<p class="social-error error">Некорректное значение</p>
	<div class="social-wrapper">
		<input class="hidden-box" id="twitter-box" type="checkbox">
		<label class="checkbox-label" for="twitter-box" data-num="2">Twitter</label>
		<input class="social-input" type="text" name="twitter" placeholder="Ваша страница в Twitter">
	</div>
	<p class="social-error error">Некорректное значение</p>
	<div class="social-wrapper">
		<input class="hidden-box" id="classmates-box" type="checkbox">
		<label class="checkbox-label" for="classmates-box" data-num="3">Одноклассники</label>
		<input class="social-input" type="text" name="classmates" placeholder="Ваша страница в Одноклассниках">
	</div>
</div>