<div class="step">
	<p class="step-heading">1. Введите имя и e-mail</p>
	<p class="name-error error">Вы ввели некорректное имя</p>
	<input class="form-name" type="text" name="name" placeholder="Имя">
	<p class="email-error error">Вы ввели некорректный адрес</p>
	<input class="form-email" type="email" name="email" placeholder="E-mail">
</div>