<div class="step">
	<p class="step-heading last-heading">4. Выберите любимого котика</p>
	<div class="img-set">
		<img class="animal-img" src="assets/img/photos/cat-1.jpg" data-animal="cat">
		<img class="animal-img" src="assets/img/photos/cat-2.jpg" data-animal="cat">
		<img class="animal-img" src="assets/img/photos/cat-3.jpg" data-animal="cat">
		<img class="animal-img" src="assets/img/photos/dog-4.jpg" data-animal="dog">
	</div>
	<p class="img-error error"></p>
</div>