/* Styles for final-screen
	========================================================================== */

.final-screen-wrapper {
	display: none;
	width: 560px;
	margin: 0 auto;
	margin-top: 100px;
	
	text-align: center;

	@media only screen and (max-width: 580px) {
		width: 300px;
	}
}

.final-screen {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	padding: 24px;
	margin-bottom: 32px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	
	background-color: #fff;
}

.img-selected {
	display: block;
	width: 200px;
	height: 200px;
	margin-left: 24px;
	border-radius: 2px;
}

.selected-data-wrapper {
	width: 288px;

	text-align: left;

	@media only screen and (max-width: 580px) {
		margin-bottom: 24px;

		text-align: center;
	}
}

.name-selected {
	margin-bottom: 10px;

	font-size: $font-size-big;
}

.email-selected,
.home-selected {
	margin-bottom: 40px;

	@media only screen and (max-width: 580px) {
		margin-bottom: 20px;
	}
}

.social-selected {
	display: none;
	
	color: blue;
}

.social-value {
	color: #000;
}