/* Styles for step-3 elements
	========================================================================== */

.social-wrapper {
	position: relative;

	height: 36px;
	margin-bottom: 8px; 

	line-height: 36px;
}

.social-wrapper:last-child {
	margin-bottom: 0;
}

.social-input {
	position: absolute;
	top: 0;
	left: 0;

	display: none;
	width: 260px;
	height: 36px;
	margin-left: 150px;

	@media only screen and (max-width: 580px) {
		width: 180px;
		margin-left: 130px;
	}
}

.social-error {
	margin-left: 150px;

	@media only screen and (max-width: 580px) {
		margin-left: 130px;
	}
}