/* Styles for step-4 elements
	========================================================================== */

.last-heading {
	margin-bottom: 0;
}

.img-set {
	position: absolute;
	top: 60px;
	left: -166px;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 648px;

	@media only screen and (max-width: 680px) {
		width: 230px;
		top: 50px;
		left: 0;
	}
}

.animal-img {
	display: block;
	width: 150px;
	height: 150px;
	border-radius: 2px;
	
	cursor: pointer;
	
	@media only screen and (max-width: 680px) {
		width: 110px;
		height: 110px;
	}
}

.animal-img:first-child {
	@media only screen and (max-width: 680px) {
		margin-bottom: 10px;
	}
}

.active-img {
	border: 3px solid $navigation-orange-color;
}

.img-error {
	position: absolute;
	top: 220px;
	left: -166px;

	@media only screen and (max-width: 680px) {
		left: 0;
		top: 285px;
	}
}