/* Styles for step-2 elements
	========================================================================== */

.select-wrapper {
	position: relative;

	margin-bottom: 16px;
}

.select-wrapper:last-child {
	margin-bottom: 0;
}

.select-wrapper::after {
	position: absolute;
	right: 15px;
	top: 20px;

	display: block;
	transform: scaleY(0.5);

	color: $placeholder-color;
	content: "▼";
}
