/* Styles for main elements
	========================================================================== */

* {
  box-sizing: border-box;
}

ul,
p {
	margin: 0;
	padding: 0;
}

body {
	background-color: $main-background-color;
	font-family: $family-default;
	font-size: $font-size-medium;
}

.form-wrapper {
	max-width: 310px;
	margin: 0 auto;
	margin-top: 100px;
}

.steps-nav {
	margin-bottom: 16px;

	list-style: none;
}

.step {
	position: relative;
	
	display: none;
	min-height: 320px;
}

.step-btn {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 4px;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);

	background-color: #fff;
	
	color: $placeholder-color;
	text-align: center;
	line-height: 40px;
}

.step-btn-active {
	color: #000;
	cursor: pointer;
}

.step-btn-current {
	border: 1px solid #000;

	cursor: auto;
}

.step-btn-validated {
	color: $navigation-orange-color;
}

.back-btn,
.next-btn {
	position: relative;

	display: inline-block;
	width: 147px;
	height: 36px;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	
	background-color: #fff;

	line-height: 36px;
	color: $navigation-orange-color;
	text-decoration: none;
}

.back-btn {
	margin-right: 12px;
	padding-left: 40px;
}

.next-btn {
	float: right;
	padding-left: 20px;
}

.back-btn::before,
.next-btn::before {
	position: absolute;
	top: 35%;
	
	display: block;
	width: 8px;
	height: 8px;

	transform: rotate(45deg);
	content: "";
}


.back-btn::before {
	left: 20px;

	border-left: 2px solid $navigation-orange-color;
	border-bottom: 2px solid $navigation-orange-color;
}

.next-btn::before {
	right: 25px;

	border-right: 2px solid $navigation-orange-color;
	border-top: 2px solid $navigation-orange-color;
}

.end-btn,
.retry {
	display: inline-block;
	height: 36px;
	padding: 0 20px;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	
	background-color: $navigation-orange-color;

	line-height: 36px;
	color: #fff;
	text-decoration: none;
}

input,
select {
	width: 310px;
	height: 52px;
	padding-left: 15px;
	border: none;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

input::placeholder {
	color: $placeholder-color;
}

input:focus::placeholder {
	color: transparent;
}

select {
	cursor: pointer;
	appearance: none;
}

select:invalid { 
	color: $placeholder-color;
}

input[type="checkbox"] {
	display: none;
}

.checkbox-label {
	margin-left: 20px;

	cursor: pointer;
	line-height: 12px;
}

.checkbox-label::before {
	position: absolute;
	top: 30%;
	left: 0;

	display: block;
	width: 12px;
	height: 12px;
	border-radius: 2px;
	border: 1px solid $checkbox-border-color;
	
	background-color: #fff;
	
	font-size: 13px;
	color: #fff;
	content: "✔";
}

.hidden-box:checked + .checkbox-label::before {
	background-color: $checkbox-background-color;
	border-color: $checkbox-background-color;
}

.hidden-box:checked ~ .social-input {
	display: inline-block;
}

.error {
	display: none;
	color: $error-color;
}

.error-border {
	border: 1px solid $error-color;
}
