/* Base settings and variables
	========================================================================== */

// 1. Colors:
// ----------

$placeholder-color: #bbb;
$checkbox-border-color: #b3b3b3;
$checkbox-background-color: #3b99fc;
$error-color: #f00;
$main-background-color: #f5f5f5;
$navigation-orange-color: #ff9800;


// 2. Typography:
// --------------

		//Fonts:
$family-default: "Open Sans";

    //Font-sizes:
$font-size-big: 20px;
$font-size-medium: 15px;