<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta charset="UTF-8">
	  <title>TaskLUN</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  <link rel="stylesheet" href="assets/css/app.css">
	  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	  <script type="text/javascript" src="assets/js/steps-form.js"></script>
  </head>
  <body>
  	{{> body}}
  </body>
</html>	